JOIN

In [1]:
SELECT *
FROM datos.ventas;

: Msg 208, Level 16, State 1, Line 1
El nombre de objeto 'datos.ventas' no es v√°lido.