# Script de creación de la Base de Datos, las Tablas y sus Inserciones.

Práctica 06 A - JOIN

In [2]:
-- Comprobamos si existe la base de datos 'join6a' y eliminamos en caso afirmativo
DROP DATABASE IF EXISTS join6a;

-- Creación de la base de datos 'join6a'
CREATE DATABASE join6a;

-- Uso de la base de datos 'join6a'
USE join6a;

-- Creación de la tabla 'usuario'
CREATE TABLE usuario (
    UserID INT PRIMARY KEY,
    UserName NVARCHAR(100)
);

-- Insertar datos en la tabla 'usuario'
INSERT INTO usuario (UserID, UserName) VALUES 
(123, 'Bob'),
(124, 'Alice'),
(125, 'Carrie');

-- Creación de la tabla 'orden' con la clave foránea UserID referenciando la tabla 'usuario'
CREATE TABLE orden (
    OrderID INT AUTO_INCREMENT PRIMARY KEY,
    UserID INT
);

-- Insertar datos en la tabla 'orden'
INSERT INTO orden (OrderID, UserID) VALUES
(333, 123),
(222, 123),
(111, 126),
(666, 126);