# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

In [5]:
USE base;
INSERT INTO producto(ID_Producto, Producto)
VALUES("8", "producto1"),("9", "producto2");

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

In [6]:
UPDATE producto
SET Producto = 'Casa'
WHERE Producto = 'producto1';

2.2 Producto2 será 'Departamento'

In [7]:
UPDATE producto
SET Producto = 'Departamento'
WHERE Producto = 'producto2';

## 3. Eliminar casa y departamento de la tabla 'producto'

In [11]:
DELETE FROM producto
WHERE ID_Producto IN (8, 9);